@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
@import "../../App.css";

.middle_column_title,
.middle_column_p {
  color: var(--primary-font-color);
}

.title_bracket {
  color: var(--secondary-font-color);
}

.subtitle {
  color: var(--secondary-font-color);
  margin-bottom: 0.3em;
  font-weight: 400;
  font-size: 6vw;
  margin-bottom: 0.6em;
}

.middle_column_p {
  font-size: 4vw;
  text-align: justify;
  margin-bottom: 3em;
  font-weight: 400;
}

.middle_column_title {
  font-size: 6.94vw;
  margin-bottom: 1em;
}

.middle_column_p span {
  color: var(--secondary-font-color);
}

.primary_button,
.secondary_button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 4vw;
  border-radius: var(--border-radius);
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.primary_button {
  background-color: var(--secondary-font-color);
  color: var(--background-color);
  margin-right: 0.8em;
  font-weight: bold;
}

.primary_button:hover {
  background-color: var(--primary-font-color);
}
.secondary_button {
  color: var(--primary-font-color);
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.secondary_button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: var(--secondary-font-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.secondary_button:hover:after {
  width: 100%;
  left: 0;
}

/* Tablet & mobile */
@media (min-width: 600px) and (max-width: 1024px) {
  .subtitle {
    margin-bottom: 0.3em;
    font-size: 3vw;
    margin-bottom: 0.6em;
  }

  .middle_column_p,
  .primary_button,
  .secondary_button {
    font-size: 2vw;
    margin-bottom: 3em;
  }

  .primary_button,
  .secondary_button {
    padding: 10px 20px;
  }

  .middle_column_title {
    font-size: 4.3vw;
    margin-bottom: 1em;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .subtitle {
    margin-bottom: 0.3em;
    font-size: 2.5vw;
    margin-bottom: 0.6em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }

  .middle_column_p,
  .primary_button,
  .secondary_button {
    font-size: 1vw;
    margin-bottom: 3em;
  }

  .primary_button,
  .secondary_button {
    padding: 10px 20px;
  }

  .middle_column_title {
    font-size: 4vw;
    margin-bottom: 0.6em;
    letter-spacing: 0.1rem;
  }
}
