.line_container,
.number_container {
  display: none;
}

@media (min-width: 1025px) {
  .line_container {
    display: inline;
    height: 100%;
  }

  .line_container::after {
    content: "";
    width: 2px;
    height: 100%;
    display: inline;
    background-color: var(--secondary-font-color);
    position: fixed;
    left: 40px;
    top: 0px;
    z-index: 1;
  }

  .number_container {
    position: fixed;
    display: inline-block;
    color: var(--secondary-font-color);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    top: calc(50% - 0.7rem);
    left: calc(40px - 0.7rem);
    font-size: 1rem;
    background-color: var(--background-color);
    padding: 10px 0;
    z-index: 2;
  }
}
