.project_card {
  width: 100%;
  height: 18rem;
  background-color: aqua;
  box-sizing: border-box;
  margin-top: 1em;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .project_card {
    width: 100%;
    height: 10rem;
    background-color: aqua;
    box-sizing: border-box;
    margin-top: 1em;
  }
}

@media (min-width: 1025px) {
  .project_card {
    width: 18vw;
    height: 20rem;
    background-color: aqua;
    box-sizing: border-box;
    margin-top: 1em;
  }
}
